<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- nombre canonico del certificado digital-->
    <add key="CN" value="ROSA ANALIA DIAZ CARO"/>
    <!-- carpeta donde se encuentran los archivos set envios-->
    <add key="IN" value="IN"/>
    <!-- carpeta donde se depositan los archivos enviados-->
    <add key="OUT" value="OUT"/>
    <!-- carpeta donde se depositan los archivos que pudieron ser enviados-->
    <add key="ERROR" value="ERROR"/>
    <!-- rut del enviador del documento-->
    <add key="RutEmisor" value="12654762"/>
    <!-- digito verificador del rut enviador-->
    <add key="DigEmisor" value="5"/>
    <!-- rut de la empresa emisora-->
    <add key="RutEmpresa" value="77711030"/>
    <!-- digito verificador del rut empresa emisora-->
    <add key="DigEmpresa" value="6"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
