<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BkSpecialPrograms.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <BkSpecialPrograms.My.MySettings>
            <setting name="Archivador_Ruta" serializeAs="String">
                <value/>
            </setting>
            <setting name="Archivador_Filtro_Arch" serializeAs="String">
                <value/>
            </setting>
            <setting name="Asis_Compra_Metodo_Abastecer_Dias_Meses" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Asis_Compra_Tiempo_Reposicion_Dias_Meses" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Asis_Compra_Dias_a_Abastecer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Asis_Compra_Tiempo_Reposicion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Asis_Compra_Sabado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Domingo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Ud1_Compra" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Ud2_Compra" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Procesar_Uno_A_Uno" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Productos_Todos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Productos_Vendidos_Los_Ultimos_Dias" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Productos_Con_Movimientos_De_Venta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Productos_Seleccionar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Productos_Familias_Marcas_Etc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Productos_Ranking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Productos_Proveedor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Traer_Productos_De_Reemplazo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Ent_Fisica" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Koen_p" serializeAs="String">
                <value/>
            </setting>
            <setting name="Asis_Compra_Suen_p" serializeAs="String">
                <value/>
            </setting>
            <setting name="Asis_Compra_Tipo_de_compra" serializeAs="String">
                <value/>
            </setting>
            <setting name="Asis_Compra_Costo_Ultimo_Documento_Seleccionado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Costo_Lista_Proveedor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Fecha_Tope_Proveedores_Automaticos" serializeAs="String">
                <value/>
            </setting>
            <setting name="Asis_Compra_Documento_Compra" serializeAs="String">
                <value/>
            </setting>
            <setting name="Asis_Compra_Sacar_Productos_Sin_Rotacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Restar_Stok_Bodega" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_No_Considera_Con_Stock_Pedido_OCC_NVI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Mostrar_Solo_Stock_Critico" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Quitar_Bloqueados_Compra" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Rango_Fechas_Vta_Promedio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Fecha_Vta_Desde" serializeAs="String">
                <value/>
            </setting>
            <setting name="Asis_Compra_Fecha_Vta_Hasta" serializeAs="String">
                <value/>
            </setting>
            <setting name="Asis_Compra_Rango_Meses_Vta_Promedio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Ultimos_Meses_Vta_Promedio" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Asis_Compra_Sumar_Rotacion_Hermanos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Rotacion_Con_Ent_Excluidas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asis_Compra_Cantidad_Dias_Ultima_Venta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Asis_Compra_Fecha_Movimientos_Desde" serializeAs="String">
                <value/>
            </setting>
            <setting name="Asis_Compra_Fecha_Movimientos_Hasta" serializeAs="String">
                <value/>
            </setting>
            <setting name="Asis_Compra_Productos_Ranking_Input" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Asis_Compra_Proyeccion_Redondeo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Asis_Compra_Padre_Asociacion_Productos" serializeAs="String">
                <value/>
            </setting>
            <setting name="Estilo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Asis_Compra_Campo_Orden" serializeAs="String">
                <value>Codigo</value>
            </setting>
            <setting name="Asis_Compra_Campo_Orden_Orden" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="Asis_Compra_Guardar_Campo_Orden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Contacto_Origen" serializeAs="String">
                <value/>
            </setting>
            <setting name="Correo_Origen" serializeAs="String">
                <value/>
            </setting>
            <setting name="Direccion_Origen" serializeAs="String">
                <value/>
            </setting>
            <setting name="Dpto_Origen" serializeAs="String">
                <value/>
            </setting>
            <setting name="Numero_Origen" serializeAs="String">
                <value/>
            </setting>
            <setting name="Telefono_Origen" serializeAs="String">
                <value/>
            </setting>
            <setting name="Cod_Region_Origen" serializeAs="String">
                <value/>
            </setting>
            <setting name="Cod_Comuna_Origen" serializeAs="String">
                <value/>
            </setting>
            <setting name="Cod_Direccion_Origen" serializeAs="String">
                <value/>
            </setting>
        </BkSpecialPrograms.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegracionAsistidaPT">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic"/>
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IIntegracionAsistidaPT1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic"/>
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IIntegracionAsistidaPT2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://testservices.wschilexpress.com/OSB/GenerarOTDigitalIndividualC2C" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegracionAsistidaPT" contract="Svr_Chileexpress.IIntegracionAsistidaPT" name="BasicHttpBinding_IIntegracionAsistidaPT"/>
            <endpoint address="http://testservices.wschilexpress.com/OSB/GenerarOTDigitalIndividualC2C" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegracionAsistidaPT1" contract="ServiceReference1.IIntegracionAsistidaPT" name="BasicHttpBinding_IIntegracionAsistidaPT1"/>
            <endpoint address="http://testservices.wschilexpress.com/OSB/GenerarOTDigitalIndividualC2C" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegracionAsistidaPT2" contract="ServiceReference1.IIntegracionAsistidaPT" name="BasicHttpBinding_IIntegracionAsistidaPT2"/>
        </client>
    </system.serviceModel>
</configuration>
